
 /* The below styles the input bar, search button and search history buttons */
aside {
    padding-left: 50px !important;
}

#form-heading {
    margin-top: 10px !important;
}

.input-group {
    display: block; 
    max-width: 300px;
    margin-top: 10px;
}

.weather-search, .search-button, .history-button{
    width: 300px !important;
    border-radius: 10px !important;
}


.weather-search {
margin: 0 10px 15px 0;
height: 2.5rem;
}


.history-button{
    margin: 5px 0;
}

/* The below add styles to search results showing weather for today and forecast */

.today-result{
    padding: 30px 0 10px 10px;
    margin-bottom: 50px;
    border: 2px black solid;
    max-width: 1135px;
}

.forecast-container {
    border: 1px black solid;
    margin: 0 10px 0 5px;
    padding: 10px 0 0 20px;
    width: 200px;
    background-color:rgb(87, 118, 118);
    color: white;
}

.today-date-container {
    display: flex;
}



